#banner {
    height: 52px;
    width: 100%;
    background-color: #d3d3d3;
}
#logo {
    position: absolute;
    top: 15px;
    left: 15px;
}

#burger {
    position: absolute;
    top: 20px;
    right: 15px;
}